.login-layout{
    background: url('/images/bg.jpg');
    align-items: center;
    width:100vw;
    height:100vh;
    justify-content: center;
    background-size: cover;
    display: flex;

}

.login-layout__box{
    background: fade-out( white, 0.3);
    text-align: center;
    border-radius: 5px;
    width:250px;
    height: 200px;
    padding-bottom: 10px
    
}

.login-layout__content{
   color:royalblue;
   word-spacing: 2px;
   font-size: 18px
}

.create__expense{
    padding-top:50px;
    
}
.card{
    max-width: 100px;
}